.icon-48-geekhubinfos {
      background-image: url(../images/l_geekhubinfos.png);
      padding-left:60px!important;
}

.icon-48-geekhubinfo {
      background-image: url(../images/l_geekhubinfos.png);
      padding-left:60px!important;
}

